body {
  background-color: grey;
  background-size: cover;
  text-shadow: 1px 1px 0px rgb(0,128,128);
  .well, #search, #userDetails, .userRepo {
    color: $black;
    border: 1px solid blue;
  }

  #search, #userDetails {
    padding: 15px 0 0;
    margin-bottom: 20px;
  }

  #userDetails, #userRepos{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  .userRepo{
    height: 200px;
    overflow: auto;
    text-overflow: ellipsis;
  }

  a:link {
    color: navy;
  }

}
